{% extends 'base.html' %}
{% block title %}Eliminar Bautizo{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>¿Estás seguro que deseas eliminar este bautizo?</h2>
    <p><strong>{{ bautizo.nombres_bautizado }} {{ bautizo.apellidos_bautizado }}</strong></p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'bautizos_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
